{{> partials/header  }}
{{> partials/categories }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Start selling your products with us</h1>
      <h3>We corporate with top product sellers</h3>
      <p>
        We always appreciate online sellers who are ready to work with us presenting their product to all our customers.
        Our team is dedicated to delivering high-quality products and exceptional customer service, and we are confident that we can work together to achieve mutual success.
        We believe that your products would be a great addition to our online marketplace and would be well-received by our customers.
      </p>
      <p>
        Please let us know if you are interested in discussing this opportunity further. We look forward to the possibility of working with you and bringing your products to our online marketplace. <br />
        <a href="mailto:hr@email.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <u>hr@email.com</u>
        </a>
      </p>
    </div>
  </div>
</div>

{{> partials/footer}}