{{> partials/header }}
{{> partials/categories }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        Information about our shipping duration, Delivery, and Return.
      </p>
        <h4>Duration:</h4>
  <p>
    Our standard processing time for orders is 1 business days within Europe and UK. Once your order has been processed, we will provide you with a tracking number via email so that you can monitor the progress of your shipment. Please note that shipping times may vary depending on your location and shipping method chosen.
  </p>

  <h4>Delivery:</h4>
  <p>
    We offer shipping to All Europen countries and UK. Shipping rates will vary depending on your location and shipping method chosen. We offer a variety of shipping methods to best suit your needs, including standard shipping, expedited shipping, and overnight shipping.
    Please note that we cannot be held responsible for any delays caused by customs or other factors outside of our control. In the event of a delay, we will work with our shipping partners to resolve the issue as quickly as possible.
  </p>

  <h4>Product Return:</h4>
  <p>
    We want you to be completely satisfied with your purchase. If for any reason you are not satisfied, please contact us within 1 day of receiving your order to request a return. To be eligible for a return, your item must be unused and in the same condition that you received it, with all original packaging and tags attached.
  </p>

  <h4>Do you have questions?</h4>
  <p>
    Please do not hesitate to
    <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
    phone numbers
  </p>
</div>
 </div>
</div>
{{> partials/footer}}